<body>
    <div class="navbar">
       
       <div class="nav head__navbar" role="navigation">
            <div class="lower-nav">
                <table>
                    <thead class="upper-table">
                        <tr>
                            <th ng-class="{active: content}"><a href="/">News</a></th>
                            <th ng-class="{active: content}"><a href="#!opinions">Opinion</a></th>
                            <th ng-class="{active: content}"><a href="#!sports">Sport</a></th>
                            <th ng-class="{active: content}"><a href="">Culture</a></th>
                            <th ng-class="{active: content}"><a href="">Lifestyle</a></th>
                            <th ng-class="{active: content}"><a href="">&nbsp;</a></th>
                            <th ng-class="{addborder: content}"class="side" style="width: 380px;"><a href=""></a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3"  class="table-col">
                                <div class="email nav-item">
                                    <h2 style="margin: 0.375rem 0">
                                    Sign up for the Guardian Today email
                                    </h2>
                                    <p style="border-top: 0.1875rem solid #90dcff">
                                    All the day's headlines and highlights from the
                                    </p>
                                    <p>Guardian, direct you to every morning</p>
                                    <div class="email-signup-btn">
                                        <input type="text" placeholder="Email address" />
                                        <button type="button">Sign up</button>
                                    </div>
                                </div>
                            </td>
                            <td  class="table-col">
                                <ul>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Complaints & corrections</a></li>
                                    <li><a href="#">SecureDrop</a></li>
                                    <li><a href="#">Work for us</a></li>
                                    <li><a href="#">Privacy settings</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Cookie policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </td>
                            <td  class="table-col">
                                <ul>
                                    <li><a href="#">All topics</a></li>
                                    <li><a href="#">All writers</a></li>
                                    <li><a href="#">Digital Newspaper archive</a></li>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Youtube</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">LinkedIn</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">NewsLetters</a></li>
                                </ul>
                            </td>
                            <td  class="table-col">
                                <ul>
                                    <li><a href="#">Advertise with us</a></li>
                                    <li><a href="#">Search UK jobs</a></li>
                                </ul>
                            </td>
                            <td>
                                <div class="support nav-item">
                                    <h1 style="color: #ffe500; font-weight: bolder">
                                        Support the Guardian
                                    </h1>
                                    <p>Available for everyone, funded by readers</p>
                                    <div class="nav-btns">
                                        <button type="button" class="contrib nav-btn">
                                            <p>Contribute</p>
                                            <span
                                            ><svg
                                                width="30"
                                                height="30"
                                                viewBox="0 0 30 30"
                                                class="inline-arrow-right__svg inline-icon__svg"
                                            >
                                                <path
                                                    d="M22.8 14.6 15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"
                                                ></path>
                                            </svg>
                                            </span>
                                        </button>
                                        <button type="button" class="subsc nav-btn">
                                            <p>Subscribe</p>
                                            <span
                                            ><svg
                                                width="30"
                                                height="30"
                                                viewBox="0 0 30 30"
                                                class="inline-arrow-right__svg inline-icon__svg"
                                            >
                                                <path
                                                    d="M22.8 14.6 15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"
                                                ></path>
                                            </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="really-serious-copyright">
            © 2022 Guardian News &amp; Media Limited or its affiliated
            companies. All rights reserved.
            <a href="#top">
                <span class="back-to-top">
                    <span>Back to Top</span>
                    <span class="svg">
                        <svg width="24" height="18" viewBox="0 0 24 18" class="inline-arrow-up__svg inline-icon__svg">
                        <path d="m.4 15.3 10.5-8.4L12 6l1.1.9 10.5 8.4-.5.7L12 9.7.9 16l-.5-.7z"></path>
                       </svg>
                    </span>
                </span>
            </a>
        </div>
    </div>
 </body>